/* stile pagina home */
body {
  background-color: black;
  background-size: contain;
}
.box-img {
  height: 100vh;

  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 20vh 10vh;
}

/* ------------------------------------------------------------ */
/* stile bottoni */
.bottone {
  height: max-content;
  width: max-content;
  background-color: rgba(65, 65, 223, 0.643);
  padding: 20px;
  border-radius: 50px;
}
.bottone:hover {
  transform: scale(1.1);
}
.bottone a {
  color: gold;
  font-size: 20px;
  text-decoration: none;
}

/* ------------------------------------------------ */

/* stile sezioni */
h1 {
    font-size: 50px;
  color: gold;
  text-align: center;
  padding: 20px;
}

/* sezione1 */

.sezione1 {
  height: 45vh;
  max-width: 1100px;
  /* background-color: rgba(255, 0, 0, 0.405); */
  display: flex;
  margin: 0 auto;
  gap: 60px;
}

.img1 {
  height: 44vh;
  clip-path: ellipse(50% 50% at 50% 50%);
}

.testo p {
  width: 30vw;
  color: wheat;
  font-size: 25px;
  padding: 20px;
  text-align: center;
}


/* sezione 2 */

.sezione2{
    max-width: 1100px;
    height: 20vh;
    margin-top: 15px;
    margin: 0 auto;

}

.sezione2 h3{
    color: gold;
    text-align: center;
    font-size: 30px ;
    margin-bottom: 10px;
}

.sezione2 p{
    color: wheat;
    text-align: center;
    font-size: 25px;
}


/* sezione 3 */

.sezione3{
    max-width: 1100px;
    height: 45vh;
    display: flex;
    margin: 0 auto;
    gap: 60px;
    padding: 20px;
    flex-direction: row-reverse;
}

.imgSez3{
    height: 40vh;
    border-radius: 20px;
}

.sezione3 p{
    color: wheat;
    font-size: 25px;
    text-align: center;
    margin-top: 5vh; 
    
}


/* sezione 4*/

.titolo-sez4{
    color: gold;
    font-size: 30px;
    text-align: center;
}

.sezione4{
    height: 45vh;
    max-width: 1100px;
    padding-top: 10px;
    display: flex;
    margin: 0 auto;
    gap: 60px;
    align-items: center;

    
}

.sezione4 img{
    height: 40vh;
    border-radius: 10px;
    
}

.sezione4 p{
    color: wheat;
    font-size: 25px;
    text-align: center;
}

/* sezione 5 */

.titolo-sez5{
    color: gold;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}

.sezione5 {
    height: 40vh;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 60px;
}

.sezione5 img{
    height: 30vh;
    clip-path: ellipse(50% 50% at 50% 50%);
}

.sezione5 p{
    color: wheat;
    font-size: 25px;
    text-align: center;
}




